In [1]:
import pandas as pd
from sqlalchemy import create_engine 
import numpy as np

In [2]:
census_data = pd.read_csv('Census_Data.csv')
census_data_df1 = census_data[['state','Population','White Population','Black Population','Native American Population','Asian Population','Hispanic Population','Education None','Household Income','Income Per Capita']]
census_data_df1.head()

,state,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,Household Income,Income Per Capita
0,TX,3061887,1775897,684416,11586,230549,1368287,54180,56206.50000,32239.52083
1,IL,2702091,1318869,843633,7554,161478,785374,32800,57735.96429,38730.83929
2,NY,2595259,1126111,870465,8744,297890,509243,48934,51469.18919,28309.67568
3,CA,2426413,1068202,324842,15949,273829,1292382,62684,47494.58333,30073.19355
4,FL,1820704,1361009,363514,2250,33144,1162711,27137,51232.90741,25949.35185

In [3]:
census_data_df2 = census_data.groupby(['state']).sum()
census_data_df2.head()

,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,Education High School,Education GED,Education Associates,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
state,,,,,,,,,,,,,,,,,,,,,
AL,1901500,1074132,723832,5240,40003,81391,13388,264365,54815,91795,...,12641,509.110771,486.951592,528.879914,6.675788e+05,3.491836e+05,10653.834914,1.955082e+06,467.069410,-1212.775875
AR,883854,629659,163649,6239,21677,102906,6802,130939,26578,34343,...,4640,310.475000,299.558333,321.956667,4.122615e+05,2.293511e+05,6591.966667,1.310270e+06,318.823654,-837.541236
AZ,5017193,3958452,235507,112397,177445,1597816,44300,629333,120821,276180,...,31144,737.837834,725.558342,750.079964,1.130575e+06,5.188903e+05,20570.729511,3.829537e+06,637.195349,-2132.371771
CA,28466644,16528759,1944203,191093,4319518,11562342,526490,3443474,402509,1421399,...,215326,6807.785881,6590.854764,7014.740399,1.287770e+07,5.676937e+06,261283.036320,8.182501e+07,6648.114580,-22432.177772
CO,3840303,3152798,192345,32117,129392,836696,23095,426550,91271,207560,...,38509,664.977303,646.101407,684.249945,1.276928e+06,6.335956e+05,20657.063686,5.156983e+06,714.750684,-1892.760499

In [4]:
#census_data.groupby(['state','city']).count()
temp_df = census_data[['state','city']]
temp_df.head()
state_cities_count=temp_df.groupby(['state']).count()
state_cities_count['city']

state
AL     14
AR      9
AZ     19
CA    188
CO     18
CT     14
DC      1
DE      4
FL     74
GA     48
IA     10
ID      7
IL     31
IN     22
KS      8
KY      5
LA     15
MA     19
MD     23
ME      1
MI     38
MN      9
MO     15
MS      6
MT      4
NC     32
ND      3
NE      3
NH      2
NJ     22
NM      6
NV      6
NY     40
OH     26
OK      8
OR     12
PA     22
RI      4
SC     20
SD      2
TN     17
TX     80
UT     11
VA     37
WA     25
WI     13
WV      4
WY      2
Name: city, dtype: int64

In [5]:
census_data_grouped=census_data.groupby(['state'])

In [6]:
state_income_df = census_data_grouped.sum()
state_income_df=state_income_df[['Household Income']]
state_income_df
state_income_df['avg_income'] = (state_income_df['Household Income']/state_cities_count['city']).astype(int)
state_income_df.head()

       Household Income  avg_income
state
AL         6.675788e+05       47684
AR         4.122615e+05       45806
AZ         1.130575e+06       59503
CA         1.287770e+07       68498
CO         1.276928e+06       70940

In [7]:
state_income_df['avg_income'] = (state_income_df['avg_income']).astype(int)

In [8]:

combine_df = pd.merge(census_data_df2, state_income_df, on = 'state')
combine_df.head()

,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,Education High School,Education GED,Education Associates,...,Median Male Age,Median Female Age,Household Income_x,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng,Household Income_y,avg_income
state,,,,,,,,,,,,,,,,,,,,,
AL,1901500,1074132,723832,5240,40003,81391,13388,264365,54815,91795,...,486.951592,528.879914,6.675788e+05,3.491836e+05,10653.834914,1.955082e+06,467.069410,-1212.775875,6.675788e+05,47684
AR,883854,629659,163649,6239,21677,102906,6802,130939,26578,34343,...,299.558333,321.956667,4.122615e+05,2.293511e+05,6591.966667,1.310270e+06,318.823654,-837.541236,4.122615e+05,45806
AZ,5017193,3958452,235507,112397,177445,1597816,44300,629333,120821,276180,...,725.558342,750.079964,1.130575e+06,5.188903e+05,20570.729511,3.829537e+06,637.195349,-2132.371771,1.130575e+06,59503
CA,28466644,16528759,1944203,191093,4319518,11562342,526490,3443474,402509,1421399,...,6590.854764,7014.740399,1.287770e+07,5.676937e+06,261283.036320,8.182501e+07,6648.114580,-22432.177772,1.287770e+07,68498
CO,3840303,3152798,192345,32117,129392,836696,23095,426550,91271,207560,...,646.101407,684.249945,1.276928e+06,6.335956e+05,20657.063686,5.156983e+06,714.750684,-1892.760499,1.276928e+06,70940

In [9]:
state_df = combine_df[['Population','avg_income']]
state_df.head()

       Population  avg_income
state
AL        1901500       47684
AR         883854       45806
AZ        5017193       59503
CA       28466644       68498
CO        3840303       70940

In [10]:
us_case= pd.read_csv('us_states_covid19_daily.csv')
us_case.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200421,AK,329.0,10790.0,NaN,42.0,36.0,NaN,NaN,NaN,...,36.0,11119.0,11119.0,11119.0,2,0.0,0.0,987.0,8.0,995.0
1,20200421,AL,5231.0,43295.0,NaN,NaN,699.0,NaN,260.0,NaN,...,699.0,48526.0,48526.0,48526.0,1,10.0,58.0,2420.0,206.0,2626.0
2,20200421,AR,2227.0,25214.0,NaN,86.0,291.0,NaN,NaN,27.0,...,291.0,27441.0,27441.0,27441.0,5,1.0,0.0,584.0,304.0,888.0
3,20200421,AS,0.0,3.0,17.0,NaN,NaN,NaN,NaN,NaN,...,NaN,20.0,3.0,3.0,60,0.0,0.0,0.0,0.0,0.0
4,20200421,AZ,5251.0,49901.0,NaN,637.0,NaN,285.0,NaN,181.0,...,NaN,55152.0,55152.0,55152.0,4,21.0,0.0,465.0,187.0,652.0

In [11]:
us_case_final = us_case.loc[us_case['date'] == 20200421]
us_case_final

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,hospitalized,total,totalTestResults,posNeg,fips,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200421,AK,329.0,10790.0,NaN,42.0,36.0,NaN,NaN,NaN,...,36.0,11119.0,11119.0,11119.0,2,0.0,0.0,987.0,8.0,995.0
1,20200421,AL,5231.0,43295.0,NaN,NaN,699.0,NaN,260.0,NaN,...,699.0,48526.0,48526.0,48526.0,1,10.0,58.0,2420.0,206.0,2626.0
2,20200421,AR,2227.0,25214.0,NaN,86.0,291.0,NaN,NaN,27.0,...,291.0,27441.0,27441.0,27441.0,5,1.0,0.0,584.0,304.0,888.0
3,20200421,AS,0.0,3.0,17.0,NaN,NaN,NaN,NaN,NaN,...,NaN,20.0,3.0,3.0,60,0.0,0.0,0.0,0.0,0.0
4,20200421,AZ,5251.0,49901.0,NaN,637.0,NaN,285.0,NaN,181.0,...,NaN,55152.0,55152.0,55152.0,4,21.0,0.0,465.0,187.0,652.0
5,20200421,CA,33261.0,266839.0,NaN,4886.0,NaN,1502.0,NaN,NaN,...,NaN,300100.0,300100.0,300100.0,6,60.0,0.0,7317.0,2283.0,9600.0
6,20200421,CO,10106.0,37360.0,NaN,861.0,1880.0,NaN,NaN,NaN,...,1880.0,47466.0,47466.0,47466.0,8,27.0,67.0,895.0,376.0,1271.0
7,20200421,CT,20360.0,43832.0,NaN,1949.0,NaN,NaN,NaN,NaN,...,NaN,64192.0,64192.0,64192.0,9,92.0,0.0,841.0,545.0,1386.0
8,20200421,DC,3098.0,11841.0,NaN,402.0,NaN,120.0,NaN,69.0,...,NaN,14939.0,14939.0,14939.0,11,7.0,0.0,655.0,171.0,826.0
9,20200421,DE,2931.0,13725.0,NaN,263.0,NaN,NaN,NaN,NaN,...,NaN,16656.0,16656.0,16656.0,10,10.0,0.0,0.0,186.0,186.0
10,20200421,FL,27495.0,249564.0,1203.0,NaN,4235.0,NaN,NaN,NaN,...,4235.0,278262.0,277059.0,277059.0,12,50.0,225.0,9999.0,835.0,10834.0
11,20200421,GA,19881.0,68259.0,NaN,NaN,3779.0,NaN,NaN,NaN,...,3779.0,88140.0,88140.0,88140.0,13,66.0,229.0,2878.0,934.0,3812.0
12,20200421,GU,133.0,1033.0,NaN,3.0,NaN,2.0,NaN,NaN,...,NaN,1166.0,1166.0,1166.0,66,0.0,0.0,42.0,0.0,42.0
13,20200421,HI,584.0,24112.0,NaN,NaN,55.0,NaN,NaN,NaN,...,55.0,24696.0,24696.0,24696.0,15,0.0,3.0,517.0,4.0,521.0
14,20200421,IA,3641.0,23974.0,NaN,214.0,NaN,89.0,NaN,60.0,...,NaN,27615.0,27615.0,27615.0,19,4.0,0.0,1313.0,482.0,1795.0
15,20200421,ID,1736.0,15924.0,NaN,NaN,157.0,NaN,58.0,NaN,...,157.0,17660.0,17660.0,17660.0,16,3.0,6.0,151.0,64.0,215.0
16,20200421,IL,33059.0,121938.0,NaN,4776.0,NaN,1226.0,NaN,781.0,...,NaN,154997.0,154997.0,154997.0,17,119.0,0.0,5088.0,1551.0,6639.0
17,20200421,IN,12097.0,55167.0,NaN,NaN,NaN,676.0,NaN,368.0,...,NaN,67264.0,67264.0,67264.0,18,61.0,0.0,2214.0,411.0,2625.0
18,20200421,KS,2025.0,17076.0,NaN,NaN,419.0,NaN,NaN,NaN,...,419.0,19101.0,19101.0,19101.0,20,7.0,14.0,301.0,39.0,340.0
19,20200421,KY,3050.0,29770.0,NaN,263.0,1059.0,147.0,582.0,NaN,...,1059.0,32820.0,32820.0,32820.0,21,6.0,0.0,158.0,90.0,248.0
20,20200421,LA,24854.0,117576.0,NaN,1798.0,NaN,NaN,NaN,297.0,...,NaN,142430.0,142430.0,142430.0,22,77.0,0.0,0.0,331.0,331.0
21,20200421,MA,41199.0,134173.0,NaN,3872.0,NaN,1040.0,NaN,NaN,...,NaN,175372.0,175372.0,175372.0,25,255.0,0.0,10009.0,3122.0,13131.0
22,20200421,MD,14193.0,59442.0,NaN,1433.0,3158.0,526.0,NaN,NaN,...,3158.0,73635.0,73635.0,73635.0,24,68.0,144.0,1729.0,509.0,2238.0
23,20200421,ME,888.0,14076.0,NaN,40.0,139.0,16.0,NaN,8.0,...,139.0,14964.0,14964.0,14964.0,23,1.0,1.0,0.0,13.0,13.0
24,20200421,MI,32967.0,84259.0,NaN,3357.0,NaN,1346.0,NaN,1107.0,...,NaN,117226.0,117226.0,117226.0,26,232.0,0.0,2461.0,967.0,3428.0
25,20200421,MN,2567.0,45130.0,NaN,237.0,629.0,117.0,253.0,NaN,...,629.0,47697.0,47697.0,47697.0,27,17.0,27.0,750.0,97.0,847.0
26,20200421,MO,5941.0,51179.0,NaN,1001.0,NaN,NaN,NaN,NaN,...,NaN,57120.0,57120.0,57120.0,29,12.0,0.0,973.0,134.0,1107.0
27,20200421,MP,14.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,65.0,65.0,65.0,69,0.0,0.0,0.0,0.0,0.0
28,20200421,MS,4716.0,47648.0,NaN,548.0,858.0,146.0,NaN,89.0,...,858.0,52364.0,52364.0,52364.0,28,14.0,39.0,726.0,204.0,930.0
29,20200421,MT,437.0,10804.0,NaN,14.0,59.0,NaN,NaN,NaN,...,59.0,11241.0,11241.0,11241.0,30,2.0,2.0,186.0,4.0,190.0
30,20200421,NC,6951.0,76380.0,NaN,427.0,NaN,NaN,NaN,NaN,...,NaN,83331.0,83331.0,83331.0,37,34.0,0.0,3660.0,187.0,3847.0
31,20200421,ND,644.0,14343.0,NaN,17.0,54.0,NaN,NaN,NaN,...,54.0,14987.0,14987.0,14987.0,38,0.0,1.0,223.0,17.0,240.0
32,20200421,NE,1648.0,14724.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,16372.0,16372.0,16372.0,31,5.0,0.0,518.0,174.0,692.0
33,20200421,NH,1491.0,12848.0,244.0,78.0,206.0,NaN,NaN,NaN,...,206.0,14583.0,14339.0,14339.0,33,1.0,8.0,122.0,99.0,221.0
34,20200421,NJ,92387.0,92439.0,NaN,7594.0,NaN,1930.0,NaN,1501.0,...,NaN,184826.0,184826.0,184826.0,34,376.0,0.0,3188.0,3581.0,6769.0
35,20200421,NM,1971.0,36784.0,NaN,116.0,291.0,NaN,NaN,NaN,...,291.0,38755.0,38755.0,38755.0,35,3.0,17.0,1587.0,126.0,1713.0
36,20200421,NV,3937.0,29118.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,33055.0,33055.0,33055.0,32,5.0,0.0,601.0,107.0,708.0
37,20200421,NY,251690.0,397635.0,NaN,16076.0,57103.0,5016.0,NaN,NaN,...,57103.0,649325.0,649325.0,649325.0,36,481.0,0.0,11286.0,4178.0,15464.0
38,20200421,OH,13250.0,80989.0,NaN,NaN,2779.0,NaN,838.0,NaN,...,2779.0,94239.0,94239.0,94239.0,39,48.0,126.0,3069.0,734.0,3803.0
39,20200421,OK,2807.0,41537.0,NaN,346.0,561.0,164.0,NaN,NaN,...,561.0,44344.0,44344.0,44344.0,40,21.0,20.0,8571.0,127.0,8698.0
40,20200421,OR,2002.0,39126.0,NaN,297.0,471.0,70.0,NaN,35.0,...,471.0,41128.0,41128.0,41128.0,41,3.0,6.0,1037.0,46.0,1083.0
41,20200421,PA,34528.0,132323.0,NaN,2743.0,NaN,NaN,NaN,673.0,...,NaN,166851.0,166851.0,166851.0,42,360.0,0.0,2603.0,1296.0,3899.0
42,20200421,PR,1298.0,8789.0,1761.0,NaN,NaN,NaN,NaN,NaN,...,NaN,11848.0,10087.0,10087.0,72,1.0,0.0,303.0,46.0,349.0
43,20200421,RI,5500.0,33833.0,NaN,271.0,576.0,67.0,NaN,43.0,...,576.0,39333.0,39333.0,39333.0,44,16.0,245.0,1843.0,410.0,2253.0
44,20200421,SC,4439.0,36838.0,NaN,NaN,776.0,NaN,NaN,NaN,...,776.0,41277.0,41277.0,41277.0,45,4.0,0.0,735.0,62.0,797.0
45,20200421,SD,1755.0,11060.0,NaN,65.0,100.0,NaN,NaN,NaN,...,100.0,12815.0,12815.0,12815.0,46,1.0,13.0,419.0,70.0,489.0
46,20200421,TN,7394.0,100788.0,NaN,NaN,760.0,NaN,NaN,NaN,...,760.0,108182.0,108182.0,108182.0,47,5.0,30.0,7337.0,156.0,7493.0
47,20200421,TX,20196.0,185203.0,NaN,1419.0,NaN,NaN,NaN,NaN,...,NaN,205399.0,205399.0,205399.0,48,22.0,0.0,14267.0,738.0,15005.0
48,20200421,UT,3296.0,69062.0,NaN,NaN,277.0,NaN,NaN,NaN,...,277.0,72358.0,72358.0,72358.0,49,4.0,9.0,3964.0,83.0,4047.0
49,20200421,VA,9451.0,48903.0,477.0,1331.0,1581.0,403.0,NaN,251.0,...,1581.0,58831.0,58354.0,58354.0,51,24.0,81.0,1158.0,461.0,1619.0
50,20200421,VI,54.0,574.0,35.0,NaN,NaN,NaN,NaN,NaN,...,NaN,663.0,628.0,628.0,78,0.0,0.0,20.0,1.0,21.0
51,20200421,VT,818.0,12293.0,NaN,41.0,NaN,NaN,NaN,NaN,...,NaN,13111.0,13111.0,13111.0,50,2.0,0.0,128.0,2.0,130.0
52,20200421,WA,12085.0,128926.0,NaN,503.0,NaN,161.0,NaN,NaN,...,NaN,141011.0,141011.0,141011.0,53,18.0,0.0,2074.0,295.0,2369.0
53,20200421,WI,4620.0,47841.0,219.0,358.0,1252.0,137.0,324.0,NaN,...,1252.0,52680.0,52461.0,52461.0,55,12.0,41.0,1238.0,121.0,1359.0
54,20200421,WV,914.0,21849.0,NaN,85.0,NaN,42.0,NaN,24.0,...,NaN,22763.0,22763.0,22763.0,54,2.0,0.0,596.0,12.0,608.0
55,20200421,WY,320.0,7301.0,NaN,19.0,52.0,NaN,NaN,NaN,...,52.0,7621.0,7621.0,7621.0,56,4.0,1.0,228.0,7.0,235.0

In [12]:
#droping columns
us_case_data_df = us_case_final[['state','positive','death']]
us_case_data_df.head()

  state  positive  death
0    AK     329.0    9.0
1    AL    5231.0  177.0
2    AR    2227.0   43.0
3    AS       0.0    NaN
4    AZ    5251.0  208.0

In [13]:
#groupby
us_case_data_df1 = us_case_data_df.groupby(['state']).sum()
us_case_data_df1.head()

       positive  death
state
AK        329.0    9.0
AL       5231.0  177.0
AR       2227.0   43.0
AS          0.0    0.0
AZ       5251.0  208.0

In [14]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [15]:
state_covid_df = pd.merge(state_df, us_case_data_df1, on = 'state')
state_covid_df1 = state_covid_df[['Population','avg_income','positive','death']]
state_covid_df2 = state_covid_df1.rename(columns = {'State':'state','Population':'population', 'positive':'confirmed_cases', 'death':'death'})
state_covid_df2.head()
state_covid_df2['death']=state_covid_df2['death'].astype(int)
state_covid_df2['confirmed_cases']=state_covid_df2['confirmed_cases'].astype(int)
state_covid_df2.head()

       population  avg_income  confirmed_cases  death
state
AL        1901500       47684             5231    177
AR         883854       45806             2227     43
AZ        5017193       59503             5251    208
CA       28466644       68498            33261   1268
CO        3840303       70940            10106    449

In [16]:
state_covid_df2["avg_income"].apply(np.floor)

state
AL   47684.000
AR   45806.000
AZ   59503.000
CA   68498.000
CO   70940.000
CT   65199.000
DC   79608.000
DE   59740.000
FL   52272.000
GA   56610.000
IA   50205.000
ID   48370.000
IL   67647.000
IN   52119.000
KS   60697.000
KY   46632.000
LA   47149.000
MA   57697.000
MD   85410.000
ME   49049.000
MI   54617.000
MN   66534.000
MO   62821.000
MS   43438.000
MT   51720.000
NC   53020.000
ND   53594.000
NE   62553.000
NH   60683.000
NJ   56145.000
NM   50724.000
NV   58622.000
NY   58718.000
OH   50206.000
OK   56363.000
OR   50967.000
PA   52948.000
RI   54912.000
SC   52354.000
SD   56138.000
TN   51074.000
TX   63385.000
UT   62410.000
VA   82187.000
WA   66817.000
WI   51640.000
WV   44372.000
WY   59787.000
Name: avg_income, dtype: float64

In [17]:
state_covid_df2['state']=state_covid_df2.index

In [18]:
id=pd.Index(range(len(state_covid_df2)))

In [19]:
#state_covid_df2.set_index(id,inplace= True)
state_covid_df2['id']= id
state_covid_df2.sort_values(['confirmed_cases'], ascending=False)

       population  avg_income  confirmed_cases  death state  id
state
NY       10469926       58718           251690  14828    NY  32
NJ        2288115       56145            92387   4753    NJ  29
MA        1852387       57697            41199   1961    MA  17
PA        4427640       52948            34528   1564    PA  36
CA       28466644       68498            33261   1268    CA   3
IL        5516272       67647            33059   1468    IL  12
MI        4368522       54617            32967   2700    MI  20
FL       14878131       52272            27495    856    FL   8
LA        2111224       47149            24854   1405    LA  16
CT        1242985       65199            20360   1423    CT   5
TX       18459240       63385            20196    517    TX  41
GA        6040070       56610            19881    799    GA   9
MD        2889752       85410            14193    584    MD  18
OH        5081760       50206            13250    557    OH  33
IN        3058419       52119            12097    630    IN  13
WA        4169924       66817            12085    652    WA  44
CO        3840303       70940            10106    449    CO   4
VA        5120682       82187             9451    324    VA  43
TN        2985716       51074             7394    157    TN  40
NC        4771148       53020             6951    213    NC  25
MO        2873486       62821             5941    189    MO  22
RI         423470       54912             5500    171    RI  37
AZ        5017193       59503             5251    208    AZ   2
AL        1901500       47684             5231    177    AL   0
MS         554932       43438             4716    183    MS  23
WI        2161731       51640             4620    242    WI  45
SC        2231786       52354             4439    124    SC  38
NV        2439938       58622             3937    163    NV  31
IA         965305       50205             3641     83    IA  10
UT        1580897       62410             3296     32    UT  42
DC         647343       79608             3098    112    DC   6
KY        1310699       46632             3050    154    KY  15
DE         490640       59740             2931     82    DE   7
OK        1704788       56363             2807    164    OK  34
MN        2407631       66534             2567    160    MN  21
AR         883854       45806             2227     43    AR   1
KS        1280867       60697             2025    107    KS  14
OR        2177588       50967             2002     78    OR  35
NM        1134761       50724             1971     58    NM  30
SD         265435       56138             1755      8    SD  39
ID         756431       48370             1736     48    ID  11
NE         879223       62553             1648     33    NE  27
NH         201518       60683             1491     42    NH  28
WV         347771       44372              914     26    WV  46
ME          65563       49049              888     36    ME  19
ND         257588       53594              644     13    ND  26
MT         365753       51720              437     12    MT  24
WY         163196       59787              320      6    WY  47

In [20]:
connection_string = "postgres:jkl;\'@localhost:5432/state_covid_db"
engine = create_engine(f'postgresql://{connection_string}')

In [21]:
engine.table_names()

['state_covid_df']

Load DataFrames into database

In [22]:
state_covid_df2.to_sql(name='state_covid_df', con=engine, if_exists='append', index=False)